In [277]:
import pandas as pd
import numpy as np
import scipy as sp
from sklearn.metrics.pairwise import cosine_similarity
import operator
from pymongo import MongoClient
ObjectId = MongoClient().test.ObjectId

In [248]:
client = MongoClient('mongodb+srv://sajansinghthakuri0:wGaubT5OtHl6ygaX@letsgocluster.akeoysu.mongodb.net/')
# db = client['LetsGoDataPre']
db = client['LetsGoDataPre2']
userCollection = db['users']
locationCollection = db['locations']

In [249]:
locationData = pd.DataFrame(list(locationCollection.find()))
locationData

,_id,name,coordinate,ratings
0,6521b6b3d210879b55e0901a,Conference House Park,"[40.5017589436, -74.2523431778]","[{'user_id': 6521b625d210879b55e08e3c, 'rate':..."
1,6521b6b3d210879b55e0901b,Almer G. Russell Pavilion,"[40.5022647413, -74.2542636395]","[{'user_id': 6521b623d210879b55e08e34, 'rate':..."
2,6521b6b3d210879b55e0901c,Conference House,"[40.5000644614, -74.2490418254]","[{'user_id': 6521b61fd210879b55e08e28, 'rate':..."
3,6521b6b4d210879b55e0901d,Billop House,"[40.5000644614, -74.2490418254]","[{'user_id': 6521b623d210879b55e08e34, 'rate':..."
4,6521b6b4d210879b55e0901e,Biddle House,"[40.5054829933, -74.2541456223]","[{'user_id': 6521b621d210879b55e08e2f, 'rate':..."
...,...,...,...,...
95,6521b6cfd210879b55e09079,Walgreens,"[40.5208305833, -74.2816386833]","[{'user_id': 6521b625d210879b55e08e3b, 'rate':..."
96,6521b6cfd210879b55e0907a,Cafe Luna,"[40.5239089, -74.2345687]","[{'user_id': 6521b61fd210879b55e08e27, 'rate':..."
97,6521b6d0d210879b55e0907b,Celerant,"[40.52002286, -74.28418338]","[{'user_id': 6521b61bd210879b55e08e26, 'rate':..."
98,6521b6d0d210879b55e0907c,Andrew Tanchyk DDS,"[40.4740557333, -74.2877333]","[{'user_id': 6521b624d210879b55e08e38, 'rate':..."
99,6521b6d0d210879b55e0907d,Bayshore Dental Excellence,"[40.464896244, -74.27048787]","[{'user_id': 6521b61fd210879b55e08e27, 'rate':..."

In [305]:
expanded_ratings = locationData.explode('ratings').reset_index(drop=True)
rating_dicts = []
for rating in expanded_ratings['ratings']:
    if isinstance(rating, dict):
        rating_dicts.append({
            'user_id': str(rating['user_id']),  # Convert ObjectId to string
            'rate': rating['rate'],
            'review': rating['review']
        }
        )

ratings_df = pd.DataFrame(rating_dicts)
ratings_df['location_id'] = expanded_ratings['_id']
ratings_df['location_name'] = expanded_ratings['name']

In [306]:
piv = ratings_df.pivot_table(index=['user_id'], columns=['location_name'], values='rate')
piv.head()

location_name,7-11,Almer G. Russell Pavilion,Aloysia's Lounge,Amigo's Fried Chicken,Ancient Order of Hibernians,Andrew Tanchyk DDS,Anthony's Bar & Grill,Bank of America ATM,Bayshore Dental Excellence,Bethel Church,...,To-do stores,Tottenville Auto Spa & Lube,Tottenville Hot Bagels & Deli,U.s. Bargain Store,US-1 Discount Liquor,Universal Training Institute Inc,Walgreens,YMCA of South Amboy,ZPA,Zack's Broadway Diner
user_id,,,,,,,,,,,,,,,,,,,,,
6521b61bd210879b55e08e26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
6521b61fd210879b55e08e27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6521b61fd210879b55e08e28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
6521b61fd210879b55e08e29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
6521b620d210879b55e08e2a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [308]:
piv_norm = piv.apply(lambda x: (x - np.mean(x)) / (np.max(x) - np.min(x)), axis=1)
piv_norm.fillna(0, inplace=True)
piv_norm = piv_norm.T
piv_norm = piv_norm.loc[:, (piv_norm != 0).any(axis=0)]

In [309]:
piv_sparse = sp.sparse.csr_matrix(piv_norm.values)

In [310]:
item_similarity = cosine_similarity(piv_sparse)
user_similarity = cosine_similarity(piv_sparse.T)

In [311]:
item_sim_df = pd.DataFrame(item_similarity, index=piv_norm.index, columns=piv_norm.index)
user_sim_df = pd.DataFrame(user_similarity, index=piv_norm.columns, columns=piv_norm.columns)

In [312]:
def top_locations(location_name):
    count = 1
    print('Similar locations to {} include:\n'.format(location_name))
    for item in item_sim_df.sort_values(by=location_name, ascending=False).index[1:11]:
        print('No. {}: {}'.format(count, item))
        count += 1

In [319]:
def top_users(user):
    if user not in piv_norm.columns:
        return('No data available on user {}'.format(user))
    print('Most Similar Users:\n')
    sim_values = user_sim_df.sort_values(by=user, ascending=False).loc[:,user].tolist()[1:11]
    sim_users = user_sim_df.sort_values(by=user, ascending=False).index[1:11]
    zipped = zip(sim_users, sim_values,)
    for user, sim in zipped:
        print('User #{0}, Similarity value: {1:.2f}'.format(user, sim))

In [314]:
def similar_user_recs(user):
    if user not in piv_norm.columns:
        return('No data available on user {}'.format(user))
    sim_users = user_sim_df.sort_values(by=user, ascending=False).index[1:11]
    best = []
    most_common = {}
    for i in sim_users:
        max_score = piv_norm.loc[:, i].max()
        best.append(piv_norm[piv_norm.loc[:, i]==max_score].index.tolist())
    for i in range(len(best)):
        for j in best[i]:
            if j in most_common:
                most_common[j] += 1
            else:
                most_common[j] = 1
    sorted_list = sorted(most_common.items(), key=operator.itemgetter(1), reverse=True)
    return sorted_list[:5]

In [315]:
def predicted_preference(location_name, user):
    sim_users = user_sim_df.sort_values(by=user, ascending=False).index[1:1000]
    user_values = user_sim_df.sort_values(by=user, ascending=False).loc[:,user].tolist()[1:1000]
    rating_list = []
    weight_list = []
    for j, i in enumerate(sim_users):
        rating = piv.loc[i, location_name]
        similarity = user_values[j]
        if np.isnan(rating):
            continue
        elif not np.isnan(rating):
            rating_list.append(rating*similarity)
            weight_list.append(similarity)
    return sum(rating_list)/sum(weight_list)

In [316]:
top_locations('Billop House')

Similar locations to Billop House include:

No. 1: Conference House
No. 2: St. Mary's Roman Catholic Church
No. 3: South Amboy Board of Education
No. 4: The Fishery
No. 5: Perth Amboy Ferry
No. 6: The Office
No. 7: US-1 Discount Liquor
No. 8: Madura Pharmacy
No. 9: Anthony's Bar & Grill
No. 10: Oriental House

In [317]:
top_users('6521b61bd210879b55e08e26')

Most Similar Users:

User #6521b635d210879b55e08e72, Similarity value: 0.43
User #6521b621d210879b55e08e2e, Similarity value: 0.38
User #6521b65ad210879b55e08ef1, Similarity value: 0.34
User #6521b61fd210879b55e08e29, Similarity value: 0.31
User #6521b627d210879b55e08e44, Similarity value: 0.28
User #6521b65dd210879b55e08efa, Similarity value: 0.28
User #6521b63ed210879b55e08e90, Similarity value: 0.27
User #6521b666d210879b55e08f18, Similarity value: 0.27
User #6521b681d210879b55e08f74, Similarity value: 0.24
User #6521b68ed210879b55e08fa2, Similarity value: 0.24

In [321]:
similar_user_recs('6521b61bd210879b55e08e26')

[("St. Mary's Food Pantry", 4),
 ('South Amboy Elementary School', 2),
 ('U.s. Bargain Store', 2),
 ('Andrew Tanchyk DDS', 1),
 ('Walgreens', 1)]